<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
<!-- Styles --> 
</head>
<body>
  <header class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.url }}">Aidan O'Gorman</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-highlight active"><a href="{{ site.url }}">Home</a></li>
        <li class="nav-highlight"><a href="{{ site.url }}/work">My Work</a></li>
        <li class="nav-highlight"><a href="{{ site.url }}/skills">Skills</a></li>
        <li class="nav-highlight"><a href="{{ site.url }}/blog">Blog</a></li>
        <li class="nav-highlight"><a href="{{ site.url }}/contact/">Contact</a></li>
      </ul>
    </div>
  </header>
</body>
</html>