<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="css\bootstrap.css">
<link rel="stylesheet" type="text/css" href="css\style.css">
<link rel="stylesheet" type="text/css" href="css\font-awesome.css">
<!-- Styles --> 
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://aidanogorman.me">Aidan O'Gorman</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-highlight active"><a href="{{ site.baseurl }}">Home</a></li>
        <li class="nav-highlight"><a href="{{ site.baseurl }}/work">My Work</a></li>
        <li class="nav-highlight"><a href="#">Blog</a></li>
        <li class="nav-highlight"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>