<!DOCTYPE html>
<html>
<head>
  <title>Aidan O'Gorman | Chemical Engineer</title>
</head>
<link rel="stylesheet" type="text/css" href="css\bootstrap.css">
<link rel="stylesheet" type="text/css" href="css\style.css">
<link rel="stylesheet" type="text/css" href="css\font-awesome.css">
<!-- Styles --> 
<body>
  {% include header.html %}
  <div class="row col-md-12 content-wrap">
    <div class="text-center col-md-5">
      <div class="row">
        <img style="width:70%;height:70%;" class="image-center img-responsive img-circle" src="profilepicAidan.jpg">
      </div>
      <div class="ctaset">
        <div class="row buttonrow">
          <button class="btn btn-primary btn-lg" href="" target="_blank">Resume</button>
        </div>
        <div class="row buttonrow">
          <button class="btn btn-primary btn-lg" href="http://aidanogorman.me/work" target="_blank">My Work</button>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <h1>Bringing energy into sustainable, industrial, and business development</h1>
      </div>
      <div class="row">
        <p class="whitetext">While there are a tremendous variety of resources available to us today, it is critical that they are utilized effectively. We are responsible for our choices today to affect the future, and as a result, I aim to take a holistic, design thinking approach to tackle big problems.
        </p>
        <p class="whitetext">Hi. My name is Aidan O'Gorman. I am currently working on a Chemical Engineering BASc at the University of Waterloo, although I would like to think I am much more than my degree can tell you.
        </p>
      </div>
      <div class="row connect">
        <p class="whitetext col-md-4">Connect with me:</p>
        <a class="col-md-2 text-center fa fa-3x fa-linkedin" href="http://www.linkedin.com/in/aidan-ogorman" target="_blank"></a>
        <a class="col-md-2 text-center fa fa-3x fa-twitter" href="http://www.twitter.com/Aidan_namrogo"></a>
        <a class="col-md-2 text-center fa fa-3x fa-address-card" href="http://aidanogorman.me/contact/"></a>
      </div>
    </div>
  </div>
  <footer class="footer text-center">
    <div class="row heightchk col-md-12">
      <div class="placehold col-md-1"></div>
      <a class="skill heightchk col-md-1" href="">Process engineering</a>
      <a class="skill heightchk col-md-1" href="">Business &amp; Startup</a>
      <a class="skill heightchk col-md-1" href="">Project Management</a>
      <a class="skill heightchk col-md-1" href="">Scientific Research</a>
      <a class="skill heightchk col-md-1" href="">Modeling &amp; Simulation</a>
      <a class="skill heightchk col-md-1" href="">Economics</a>
      <a class="skill heightchk col-md-1" href="">Marketing &amp; Sales</a>
      <a class="skill heightchk col-md-1" href="">Design thinking</a>
      <a class="skill heightchk col-md-1" href="">Controls &amp; Optimization</a>
      <a class="skill heightchk col-md-1" href="">Data Analysis</a>
    </div>
  </footer>
</body>
</html>